<form [formGroup]="movieForm" (ngSubmit)="onSubmit()" fxLayout="column">
  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput placeholder="title" formControlName="title" autocomplete="on" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Year</mat-label>
    <input matInput placeholder="year" formControlName="year" />
    <mat-error *ngIf="movieForm.get('year').hasError('pattern')">
      Only digits allowed!
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <input matInput placeholder="Description" formControlName="description" autocomplete="on" />
  </mat-form-field>

  <app-poster-upload class="margin-b-lg" description="Movie Poster:" formControlName="poster"></app-poster-upload>

  <span class="block margin-b-md">Genres</span>
  <app-select formControlName="genres">
    <app-option *ngFor="let option of options" [value]="option">{{ option }}</app-option>
  </app-select>
  <button mat-stroked-button color="Primary" [class.disabled]="!movieForm.valid" class="createMovieBtn">
    {{ buttonTitle }}
  </button>
</form>
