// -----------------------------------------------------------------------------
// This file contains all of the global variables.
// -----------------------------------------------------------------------------

// Typography
$base-font-size: 1.6rem;
$base-line-height: 1.25 * $base-font-size;
// $base-font-family: 'Merriweather', serif;
$base-font-family: 'Open Sans';

$base-transition: all 0.3s;
