<div class="sidenav-container">
  <ul class="movies-sidenav">
    <li class="cursor-pointer logo" fxLayoutAlign="center center"><mat-icon> blur_on</mat-icon></li>
    <li class="cursor-pointer" fxLayoutAlign="center center" routerLink="/movies/list" routerLinkActive="active">
      <mat-icon>tv</mat-icon>
    </li>
    <li class="cursor-pointer" fxLayoutAlign="center center" routerLink="/movies/favorites" routerLinkActive="active">
      <mat-icon>favorite</mat-icon>
    </li>
    <li class="cursor-pointer" fxLayoutAlign="center center" routerLink="/user" routerLinkActive="active">
      <mat-icon>face</mat-icon>
    </li>
  </ul>
</div>
