@import 'abstracts/colors';

.createMovieBtn {
  display: block;
  width: 50%;
  border: 1px solid #fe0f70;
  color: #fe0f70;
  margin: 0 auto;
  transition: ease-in-out 0.3s;
}

.createMovieBtn:hover {
  background-color: $primary-color;
  color: $light;
}

.disabled {
  opacity: 0.5;
}
