<ngx-file-drop
  dropZoneLabel="Drop files here"
  (onFileDrop)="onFileInput($event[0])"
  dropZoneClassName
  contentClassName="display-flex"
  [multiple]="false"
  accept="image/gif, image/jpeg, image/png"
>
  <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
    <div class="tmd-upload-description">
      <div class="description" fxLayout="row" fxLayoutAlign="start center">
        <span class="margin-r-xl block">{{ description }}</span>
        <button matRipple class="browse-button" type="button" (click)="openFileSelector()">
          <mat-icon color="primary">open_in_browser</mat-icon>
          <span>Upload</span>
        </button>
        <span class="margin-l-lg block">{{ imageName }}</span>
      </div>
      <span class="image-criteria block">Accepts jpeg,png and gif formats</span>
    </div>
  </ng-template>
</ngx-file-drop>
