<div class="left-part" fxLayout="column" fxLayoutAlign="space-between center">
  <div class="logo">
    <!-- <app-dtn-logo routerLink="/"></app-dtn-logo> COMES LOGO -->
  </div>
  <div class="main-part" fxLayout="column" fxLayoutAlign="center center">
    <!-- <app-fuel-flow-logo class="margin-b-lg"></app-fuel-flow-logo> -->
    <!-- <app-powered-by-dtn class="margin-b-lg"></app-powered-by-dtn> -->
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <app-sign-in-left-part-footer></app-sign-in-left-part-footer>
  </div>
</div>
