@import 'abstracts/colors';

:host {
  display: block;
  background-color: $lighter-blue;
  height: 80px;
  padding: 0 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

mat-icon {
  font-size: 27px;
}

.log-out:hover {
  color: $primary-color;
}
