@import 'abstracts/colors';

form {
  display: flex;
  flex-direction: column;

  mat-icon {
    color: map-get($mvp-gray, 400);
  }

  .sign-in-btn {
    padding: 5px 50px;
    border: 1px solid $primary-color;
    transition: ease-in-out 0.3s;
  }

  .sign-in-btn:hover {
    background-color: $primary-color;
    color: $light;
  }
}
