<form [formGroup]="signInForm" (ngSubmit)="onSubmit(signInForm.value)">
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Sign In" formControlName="email" color="primary" />
    <mat-icon matSuffix>email</mat-icon>
    <mat-error *ngIf="signInForm.get('email').hasError('required')">
      Email is required!
    </mat-error>
    <mat-error *ngIf="signInForm.get('email').hasError('email')">
      Email is not correct!
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput type="password" placeholder="Password" formControlName="password" autocomplete="on" />
    <mat-icon matSuffix>lock</mat-icon>
    <mat-error *ngIf="signInForm.get('password').hasError('required')">
      Password is required!
    </mat-error>
  </mat-form-field>

  <div class="redirect-register margin-t-md" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-stroked-button color="primary">Sign In</button>
    <a [routerLink]="['/auth/register']">Do not have an account?</a>
  </div>
</form>
