<div class="container margin-b-xl" fxLayout="column" fxLayoutAlign="space-between center">
  <div class="movie-card">
    <div class="movie-header">
      <img class="poster" src="{{ movie.poster }}" alt="movie-avatar" />
    </div>
    <div class="movie-content">
      <span class="block title bold margin-b-md">{{ movie.title }}</span>
      <div class="movie-info margin-t-lg" fxLayout="row" fxLayoutAlign="space-between center">
        <span class="year">{{ movie.year }}</span>
        <span class="genres">{{ movie.genres.join(', ').toUpperCase() }}</span>
      </div>
    </div>
  </div>
  <button mat-stroked-button color="primary" class="view-details" (click)="onViewDetails(movie._id)">
    View Details
  </button>
</div>
