<div class="genres-container">
  <div class="title">MOVIES</div>
  <hr />

  <ul class="genres margin-t-xl">
    <li
      class="item cursor-pointer"
      *ngFor="let genre of genres; let i = index"
      (click)="onSelect(genre, i)"
      [ngClass]="{ selected: currentIndex === i }"
    >
      {{ genre }}
    </li>
  </ul>

  <button mat-stroked-button class="clear-selection margin-t-lg" (click)="onClearSelection()">
    Clear Selection
  </button>

  <button mat-stroked-button class="add-button margin-t-lg" (click)="onAddMovie()">
    Create Movie
  </button>
</div>
