@import 'abstracts/colors';

.movie-details-container {
  padding: 60px;
  height: 100vh;
}

label {
  color: $light;
}

span {
  color: $genres;
}

.poster {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.poster > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-height: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.actions {
  text-align: left;

  button {
    padding: 4px 42px;
    font-size: 16px;
  }

  button:first-child {
    border: 1px solid $light;
  }

  button:first-child:hover {
    background-color: $light;
    color: #314467;
  }

  button:last-child {
    border: 1px solid $primary-color;
    color: $primary-color;
  }

  button:last-child:hover {
    background-color: $primary-color;
    color: $light;
  }
}
