<div class="icon cursor-pointer" routerLink="{{ navigateBack }}" routerLink="">
  <mat-icon fxFlex="row">arrow_back</mat-icon>
</div>
<ng-container *ngIf="movie$ | async as movie">
  <div class="edit-movie form">
    <span class="block title">Edit Movie</span>
    <app-movie-form
      #movieForm
      [shouldShow]="true"
      [options]="options"
      buttonTitle="Edit Movie"
      (movieFormEmitter)="onSubmit(movie._id, movieForm.value)"
      [movie]="movie"
    ></app-movie-form>
  </div>
</ng-container>
