@import 'abstracts/colors';

:host {
  padding: 60px;
  display: block;
  width: 70%;
  margin: 0 auto;
  position: relative;

  .icon {
    position: absolute;
    top: 55px;
    left: 0px;
    color: $primary-color;
    border: 1px solid $primary-color;
    border-radius: 50%;
    padding: 5px;
    transition: ease-in-out 0.3s;
  }

  .icon:hover {
    background-color: $primary-color;
    color: $light;
  }

  .title {
    font-size: 20px;
    padding-bottom: 35px;
    color: #feffff;
    font-weight: 500;
  }
}
